/* Registration */
.register {
    width: 800px;
    height: 700px;
    margin: 100px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Ubuntu', sans-serif;
}

.register h2 {
    font-size: 20px;
    background-color: #f44336;
    color: #4336f4;
    height: 40px;
}

.register h1 {

    font-size: 18px;
    text-align: center;
}

.landing-page__registration-form {

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}

.registration-form {
    margin-left: 5rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;

}

.registration-form input {

    height: 30px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    font-size: 20px;
    transition: color 2s;
}

.landing-page__registration-form button {
    width: 300px;
}




.registration-form input:focus {
    margin-top: 20px;
}

.registration-form small {
    color: #FC212E;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

#chooseFile {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    width: 130px;
    padding: 10px 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
    margin-left: 80px;
}

#chooseFile:hover {
    background-color: #f5f5f5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.registration-form--file-preview {

    display: flex;
    align-items: center;
}

.registration-form--file-preview img {
    margin-left: 50px;
}

.fas fa-times {
    position: absolute;
    border: 1px solid #eee;
    padding: 5px 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-left: -15px;
    margin-top: -10px;
    cursor: pointer;
    color: #999
}

.fa-times:hover {
    color: #222;

}

.register button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 400px;
    padding: 15px 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
    margin-left: 80px;
    background-color: #6230E6;
    color: #fff;

}

/* Login */
.login {
    width: 800px;
    height: 600px;
    margin: 100px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Ubuntu', sans-serif;
}

.login h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

.login__form {
    width: 100%;
    height: 500px;
    margin-left: 80px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.login__form--input {

    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.login__form--input input {
    height: 30px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    font-size: 20px;
    transition: color 2s;
}

.login__form button {
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 400px;
    padding: 15px 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;

    background-color: #6230E6;
    color: #fff;
}