.posts {
    width: 1200px;
    margin: 0 auto;
}

.posts h1 {
    margin-top: 20px;
    font-size: 22px;
}

.posts a {
    text-decoration: none;
}

.posts li {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.image-wrapper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    height: 100%;
    width: auto;
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
}

.posts__list-item--user {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
}

.posts__list-item--user h2 {
    font-size: 16px;
}

.posts__list-item--post {
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attachments {
    margin-top: 10px;
}

.attachments-files {
    margin-top: 5px;
    width: 50%;
}

.posts__list-item--post h3 {
    padding-top: 5px;
    font-size: 23px;
}

.posts__comments span {
    margin-left: 5px;
}

.posts__comments {
    margin-right: 20px;
}

.fa-minus-circle {
    color: #b22222;
    font-size: 20px;
    cursor: pointer;
}

/* Create Post */

.post {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.post__form {
    margin-top: 4rem;
    width: 400px;
    min-height: 600px;

    font-family: Arial, Helvetica, sans-serif;
}

.post__form h1 {
    font-size: 22px;
    text-align: center;
    padding: 20px 0px;
}

.post__form--input {
    margin: 0 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.post__form--input input {
    height: 30px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    font-size: 20px;
}

.post__form--file {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.post__form--file input {
    margin-top: 10px;
}

.post small {
    color: #fc212e;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Current post */

.post {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.post-user {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    border-right: 1px solid #eee;
}

.post-user h2 {
    font-size: 16px;
    margin-top: 10px;
}

.post-text {
    width: 85%;
    margin-top: 10px;
}

.post-text h3 {
    font-size: 20px;
    font-weight: bold;
}

.post-text p {
    margin-top: 10px;
}

.editor {
    height: 50px;
}

.editor form {
    width: 1200px;
    margin: 0 auto;

    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-top: 20px;
}

.editor div {
    display: flex;
    flex-direction: column;
}

.editor label {
    margin: 10px 0 10px 20px;
}

.editor textarea {
    background-color: #f7f7f7;
    font-size: 18px;
    min-height: 40px;
    min-width: 80%;
    max-width: 80%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 0 0 10px;
    margin-left: 20px;
}

.comments {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.comments li {
    display: flex;

    border: 1px solid #e6e6e6;
    margin-top: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    padding: 10px 0;
    border-right: 1px solid #eee;
}

.profile p {
    margin-top: 5px;
}

.message {
    width: 85%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.message p {
    width: 74%;
    font-size: 18px;
}

.message span {
    font-size: 16px;
    color: #7f7f7f;
    margin-right: 10px;
}

.rating {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.fa-thumbs-up {
    cursor: pointer;
    margin-right: 10px;
}

.fa-thumbs-down {
    margin-left: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.text-info {
    color: #44a8fc;
}

.fa-ellipsis-h {
    margin-top: 10px;
    cursor: pointer;
}

.drop-down-menu {
    position: absolute;
    margin-top: 7rem;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 180px;
    height: 115px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.drop-down-menu li {
    margin-top: 2px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.drop-down-menu li:hover {
    background-color: #eee;
    text-decoration: underline;
}

.drop-down-menu li:last-child {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0 10px 10px;
}

.drop-down-menu::before {
    content: '';
    margin-left: 5.2rem;
    position: absolute;
    top: -17px;
    border: 8px solid transparent;
    border-bottom-color: #e6e6e6;
}

.drop-down-menu::after {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #fff;
    margin-left: 5.2rem;
    position: absolute;
    top: -15px;
}

.attachment {
    width: 70%;
    margin: 10px 0;
}

@media only screen and (max-width: 1000px) {
    .message p {
        width: 65%;
    }
}