/* Width < 1250 */
@media only screen and (max-width: 1250px) {
    .header__container {
        max-width: 1000px;

    }

    .user-profile {
        max-width: 1000px;
    }

    .profile {
        max-width: 1000px;
    }

    .posts {
        max-width: 1000px;
    }

    .post {
        max-width: 1000px;
    }

    .current-comment {
        max-width: 1000px;
    }

    .editor form {
        max-width: 1000px;
    }

    .footer__links ul {
        max-width: 1000px;
    }
}



/* Width < 1000 */
@media only screen and (max-width: 1000px) {
    .header__container {
        max-width: 800px;
    }

    .user-profile {
        max-width: 800px;
    }

    .profile {
        max-width: 800px;
    }

    .posts {
        max-width: 800px;
    }

    .post {
        max-width: 800px;
    }

    .current-comment {
        max-width: 800px;
    }

    .editor form {
        max-width: 800px;
    }

    .comments {
        max-width: 800px;
    }

    .current-profile {
        max-width: 800px;
    }

    .footer__links ul {
        max-width: 800px;
    }
}