body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;

}

.header {
  width: 100%;
  background-image: linear-gradient(to right top, #298fe1, #2a91e4, #2a92e6, #2b94e9, #2b96ec);

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.23);

}

.header__container {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header__container a {
  text-decoration: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links a:hover {
  text-decoration: underline;
}

.header__links li:first-child {
  margin-right: 20px;
}

.logout {
  margin-left: 20px;
  border: 1px solid #d5d5d5;
  padding: 7px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #e6e6e6;

}

.logout i {
  margin-left: 20px;
  margin-bottom: 7px;
  font-size: 18px;
}

.dropdown-menu {
  position: absolute;
  background-color: #e6e6e6;
  width: 152px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #d5d5d5;
  border-top: none;
  z-index: 999;



}

.dropdown-menu li {
  padding: 5px 0px 5px 20px;
}

.dropdown-menu li:hover {
  background-color: #d5d5d5;
}

.dropdown-menu a {
  color: #000;
}

.dropdown-menu li:last-child {
  border-top: 1px solid #d5d5d5;

}

.header__links--login {
  margin-right: 20px;
}




/* Landing */

.landing-page {
  width: 600px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-top: 5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.landing-page__message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page__message h1 {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.landing-page__message img {
  width: 500px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.landing-page__message h1 span {
  margin-left: 20px;
}

.landing-page__links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.landing-page__links button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 120px;
  padding: 15px 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
}

.landing-page__links a {
  text-decoration: none;
}

.landing-page__links--register {
  background-color: #6221ea;
  color: #fff;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.landing-page__links--register:hover {
  background-color: #7840ed;
}

.landing-page__links--register::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.3s, opacity 1s;
}

.landing-page__links--register:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

.landing-page__links--login {
  color: #6221ea;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.landing-page__links--login:hover {
  background-color: #f1ebfd;
}

.landing-page__links--login::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.3s, opacity 1s;
}

.landing-page__links--login:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

/* Footer */
.footer {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  width: 100%;
  height: 90px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  bottom: 0;
}

.footer__links ul {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
}

.footer__links a {
  color: #fff;
  text-decoration: none;
}

.footer__links li:first-child {
  margin-right: 50px;
}

.footer__links li:nth-child(n + 3) {
  margin-left: 20px;
}

.footer p {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}